<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking News</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .header {
            width: 90vw;
            margin: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header div {
            display: inline-flex;
            align-items: center;
        }

        a {
            margin: 5px;
        }

        .content-container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 25px;
        }

        .card {
            padding: 10px;
            width: 20vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        }

        .card div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .card img {
            margin: 0 auto;
            width: 200px;
            height: 160px;
            object-fit: contain;
        }

        .card h4 {
            color: grey;
            text-align: center;
        }

        .btn {
            margin: 0 20px;
            padding: 5px 0;
            width: 80px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            background-color: #fb0865;
            color: #001eff;
        }

        .btn-read {
            color: white;
            background-color: black;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 90%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 8%;
            padding: 10px;
            background: black;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }
    </style>
</head>

<body>
    <%- include('partials/navBar') %>
        <div>
            <form class="example" action="/home">
                <input type="text" name="search" placeholder="Type title name">
                <button type="submit"><i class="fa fa-search"></i> SEARCH</button>
            </form>
        </div>
        <div class="content-container">
            <% data.forEach(el=> { %>
                <div class="card">
                    <img src="<%= el.imgUrl %>">
                    <div>
                        <h3>
                            <%= el.title %>
                        </h3>
                    </div>
                    <h4>
                        <%= el.topic %>
                    </h4>
                    <a class="btn btn-read" href="/reports/<%= el.id %> /detail">Read Detail</a>
                </div>
                <% }) %>
        </div>
</body>

</html>